<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
      <servlet-name>sensorservlet</servlet-name>
      <servlet-class>at.fhv.roadrunner.RoadrunnerController</servlet-class>
      <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>sensorservlet</servlet-name>
      <url-pattern>/sensor</url-pattern>
    </servlet-mapping>

</web-app>